//
// Starter Theme Initialization partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "init" declaration. And this _init.scss
// file is in charge of importing all the other partials needed for the theme.
//
// Unlike a vanilla zen subtheme, all variables are organized into their own
// partials. This is done to make the file nicer to read.
//
// The variable partials are organized this way:
// - First, we set up fonts. Font families, base-font-size and base line height
//   are stored in the fonts partial.
// - Next, we set any colors used for the theme. There are a number of color
//   variables defined in the colors partial, and custom colors should be 
//    defined there as well.
// - Next, we add functions used in the theme. Anything that's needed globally
//   should go in this partial.
// 
// The is organized this weay:
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we define our custom mixins for this theme.
//

// =============================================================================
// Variables
// =============================================================================

//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) Set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid and gutter width in resonsive-sidebars.scss
//   (use px for both or use % for both) and set the box-sizing variable to content-box.
//
// Zen does not require special handling for IE8 or later. But Compass uses that
// variable for a couple edge cases. We include it for completeness sake. See
// the documentation at http://compass-style.org/reference/compass/support/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

//
// Font faces, stacks and sizes.
//
@import "variables/fonts";

//
// Colors, etc.
//
@import "variables/colors";

// 
// Regions
// 
@import "variables/regions";

// Now we add functions used in the theme.
@import "functions";

// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================

// Add Compass' IE and vendor prefix support variables.
@import "compass/support";
// Better than Drupal's clearfix.
@import "compass/utilities/general/clearfix";
// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";
// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3";
// Helps set up a vertical rhythm.
@import "compass/typography/vertical_rhythm";

// Add grid support
// We are replacing the default zen grids with the new zen grids.
@import "zen-grids";
@import "zen-grids/flow";
@import "zen-grids/background";

// Add fontography to create the font registry
@import "fontography";

// Now we add our custom helper mixins.
@import "mixins";

// =============================================================================
// Font registry.
// =============================================================================
@import "variables/font-registry"


