/**
 * @file
 * Menus
 * 
 * Mixins for styling drop down menus in AbleOrganizer. Includes the following items:
 * - ST DROP DOWN: Make something a drop down menu with pure CSS.
 * 
 * 
 */
  
/**
 * DEFAULT VARIABLES
 * General defaults used in the theme
 * Defaults for menus.
 */
$st-menu-primary-menu-selector:     'nav#main-menu' !default;
$st-menu-secondary-menu-selector:   'nav#secondary-menu' !default;
$st-menu-position:                  'UL > LI' !default;
$st-menu-placement:                 false !default;
$st-menu-padding:                   false !default;
$st-menu-margin:                    false !default;
$st-menu-border-top:                false !default;
$st-menu-border-bottom:             false !default;
$st-menu-border-left:               false !default;
$st-menu-border-right:              false !default;

$st-menu-item-selector:             'UL > LI' !default;
$st-menu-item-link-selector:        'A' !default;
$st-menu-item-link-style:           'menu-item-link' !default;
$st-menu-item-padding:              false !default;
$st-menu-item-margin:               false !default;
$st-menu-item-border-top:           false !default;
$st-menu-item-border-bottom:        false !default;
$st-menu-item-border-left:          false !default;
$st-menu-item-border-right:         false !default;


/**
 * ST MENU
 * Themes a menu.
 *
 */
@mixin st-menu (

  $st-menu-placement: $st-menu-placement,
  $st-menu-padding: $st-menu-padding,
  $st-menu-margin: $st-menu-margin,
  $st-menu-border-top: $st-menu-border-top,
  $st-menu-border-bottom: $st-menu-border-bottom,
  $st-menu-border-left: $st-menu-border-left,
  $st-menu-border-right: $st-menu-border-right,

  $st-menu-item-padding: $st-menu-item-padding,
  $st-menu-item-margin: $st-menu-item-margin,
  $st-menu-item-border-top: $st-menu-item-border-top,
  $st-menu-item-border-bottom: $st-menu-item-border-bottom,
  $st-menu-item-border-left: $st-menu-item-border-left,
  $st-menu-item-border-right: $st-menu-item-border-right

) {

  heythere: $st-menu-placement;

  // padding and margins
  @if $st-menu-padding != false {
    padding: $st-menu-padding;
  }
  @if $st-menu-margin != false {
    padding: $st-menu-margin;
  }

  // borders for menu
  @if $st-menu-border-top != false {
    border-top: $st-menu-border-top;
  }
  @if $st-menu-border-bottom != false {
    border-bottom: $st-menu-border-bottom;
  }
  @if $st-menu-border-left != false {
    border-left: $st-menu-border-left;
  }
  @if $st-menu-border-right != false {
    border-right: $st-menu-border-right;
  }
  
  // menu placement
  @if $st-menu-placement == 'top left' {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  @if $st-menu-placement == 'bottom left' {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  @if $st-menu-placement == 'top right' {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  @if $st-menu-placement == 'bottom right' {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  
  
  

  // font style for menu items
  #{$st-menu-item-selector}{
  
    #{$st-menu-item-link-selector}{
      @include fontography($st-menu-item-link-style);
    }
    
    // borders for menu items
    @if $st-menu-item-border-top != false {
      border-top: $st-menu-item-border-top;
    }
    @if $st-menu-item-border-bottom != false {
      border-bottom: $st-menu-item-border-bottom;
    }
    @if $st-menu-item-border-left != false {
      border-left: $st-menu-item-border-left;
    }
    @if $st-menu-item-border-right != false {
      border-right: $st-menu-item-border-right;
    }
    
    // background colors for menu items
    
  }
  
}
 

 
/**
 * DEFAULT VARIABLES
 * Default settings for drop down menus.
 * See mixin documentation for explanations.
 */
$st-dd-menu-style: down !default;
$st-dd-menu-justify: full !default;
$st-dd-menu-trigger-selector: 'H2.pane-title, H2.block-title' !default;
$st-dd-menu-trigger-style: false !default;
$st-dd-menu-menu-selector: 'UL.menu' !default;
$st-dd-menu-menu-style: false !default;
$st-dd-menu-element-selector: LI !default;
$st-dd-menu-element-style: false !default;
$st-dd-menu-include-transitions: true !default;
$st-dd-menu-border: false !default;
$st-dd-menu-border-radius: false !default;
$st-dd-menu-border-shadow: false !default;
$st-dd-menu-top-offset: $base-font-size * 2.2;

/**
 * ST DROP DOWN MENU
 *
 * Creates a CSS drop down menu. Useful when you need to display a list after hovering over an element.
 * Menus appear beneath the triggering element.
 * Menus can be left justified, right justified, or at the width of the triggering element.
 * 
 * - Trigger is the element a user rolls over to make the menu appear.
 * - Menu is the container for the menu elements.
 * - Element applies to each element in the menu.
 * 
 * Example Markup:
 * 
 * <div id="block-menu-something" class="block block-menu" role="navigation">
 *   <h2 class="block-title">Contact Management</h2>
 *     <ul class="menu">
 *       <li class="menu__item"><a href="#">Dashboard</a></li>
 *       <li class="menu__item"><a href="#">Contacts</a></li>
 *       <li class="menu__item"><a href="#">Reports</a></li>
 *    </ul>
 * </div>
 * 
 * @variables:
 * $st-dd-menu-style: The style for the drop down menu. Defaults to bottom. Possible values:
 * - up: make the menu go up
 * - down: make the menu go down
 * $st-dd-menu-justify: The justification for the drop down menu. Defaults to full. Possible values:
 * - left: justify the menu to the left
 * - right: justify the menu to the right
 * - full: expand menu items to the full width of the triggering element
 * $st-dd-menu-trigger-selector: identifies the element that triggers the drop down. Defaults to 'H2.pane-title, H2.block-title'.
 * $st-dd-menu-trigger-style: CSS style to apply to selectors. Defaults to false.
 * $st-dd-menu-menu-selector: identifies the container for the menu itself. Defaults to UL.menu.
 * $st-dd-menu-element-selector: the selector for each element in the menu. Defaults to LI.
 * $st-dd-menu-include-transitions: whether or not to apply CSS transitions to the menu. Defaults to true.
 * $st-dd-menu-border: apply this value as a border when menus display. Defaults to false.
 * $st-dd-menu-border-radius: apply this as the border radius to menus when they display. Defaults to false.
 * $st-dd-menu-border-shadow: apply this value as the shadow for menus when they display. Defaults to false.
 * 
 */ 
@mixin ao-drop-down (
  $st-dd-menu-style: $st-dd-menu-style,
  $st-dd-menu-justify: $st-dd-menu-justify,
  $st-dd-menu-trigger-selector: $st-dd-menu-trigger-selector,
  $st-dd-menu-trigger-style: $st-dd-menu-trigger-style,
  $st-dd-menu-menu-selector: $st-dd-menu-menu-selector,
  $st-dd-menu-menu-style: $st-dd-menu-menu-style,
  $st-dd-menu-element-selector: $st-dd-menu-element-selector,
  $st-dd-menu-element-style: $st-dd-menu-element-style,
  $st-dd-menu-include-transitions: $st-dd-menu-include-transitions,
  $st-dd-menu-border: $st-dd-menu-border,
  $st-dd-menu-border-radius: $st-dd-menu-border-radius,
  $st-dd-menu-border-shadow: $st-dd-menu-border-shadow,
  $st-dd-menu-top-offset: $st-dd-menu-top-offset
) {
  
  // default states
  position: relative;
  
  #{$st-dd-menu-trigger-selector} {
    // default style for triggers
    @if $st-dd-menu-trigger-style != false {
      @extend #{$st-dd-menu-trigger-style};
    }
    @if $st-dd-menu-include-transitions == true {
      @include ao-transition();
    }
  }
  #{$st-dd-menu-menu-selector} {
  
    // hide the menu
    display: none;
    position: absolute;

    // default style for menus
    @if $st-dd-menu-menu-style != false {
      @extend #{$st-dd-menu-menu-style};
    }
    @if $st-dd-menu-include-transitions == true {
      @include ao-transition();
    }
    @if $st-dd-menu-border != false {
      @include border($st-dd-menu-border);
    }
    @if $st-dd-menu-border-radius != false {
      @include border-radius($st-dd-menu-border-radius);
    }
    @if $st-dd-menu-border-shadow != false {
      @include box-shadow($st-dd-menu-border-shadow);
    }
    
    // menu placement
    // this is where up, down should be applied
    @if $st-dd-menu-style == up {
      bottom: 100%;
    }
    @if $st-dd-menu-style == down {
      top: $st-dd-menu-top-offset;
    }
    // this is where left, right and full should be applied
    @if $st-dd-menu-justify == left or $st-dd-menu-justify == full { 
      left: 0px;
    }
    @if $st-dd-menu-justify == right { 
      right: 0px;
    }
    @if $st-dd-menu-justify == full { 
      min-width: 100%; 
    }
    
    #{$st-dd-menu-element-selector} {
      // default style for elements
      @if $st-dd-menu-element-style != false {
        @extend #{$st-dd-menu-element-style};
      }
    }
  }
  
  // the hover gets applied to the containing element, not the trigger
  // this allows us to do things like make block titles into triggers for menus
  &:hover {
    #{$st-dd-menu-menu-selector} {
      display: block;
    }
  }
} 
 