/**
 * @file
 * Regions
 * 
 * Sets breakpoints used in the theme.
 */

$bp-smartphones: 480px; // smartphones
$bp-tablets-up:  480px 959px; // tablets and anything up to a wide desktop
$bp-desktops:    960px;  // wide desktops


