/**
 * @file
 * Colors
 * 
 * Defines colors used in the theme.
 */

/**
 * Custom colors go here.
 */
$white:         #FFF;
$black:         #000;

/**
 * Named color variables go here. These variables should be used in the theme and exist any time we 
 * usee starter theme.
 */
$page-bg-color:   $white; // background color for a page
$base-text-color: $black; // applied to fonts in the body tag


/**
 * Other named color variables go here. Feel free to define your own, but leave them separate from the 
 * rest of the theme.
 */

